.my-account {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.my-account-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.tittle {
  font-size: var(--lg);
  margin-bottom: 32px;
  text-align: start;
}
.my-acoount-form {
  display: flex;
  flex-direction: column;
  width: auto;
}
.my-acoount-form > div {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.value {
  color: var(--very-light-pink);
  font-size: var(--mb);
  margin: 8px 0 32px 0;
}
.secondary-button {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  width: 100%;
  cursor: pointer;
  font-size: var(--mb);
  font-weight: bold;
  height: 48px;
}
.confirm-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .my-account-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    height: 100vh;
}
  .my-acoount-form{
    justify-content: space-between;
  }
  .secondary-button {
    width: 300px;
  }
}