.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.MyOrder .title-container {
  display: flex;
}
.MyOrder .title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.MyOrder .title {
  font-size: var(--lg);
  font-weight: bold;
}
.MyOrder .order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.MyOrder .order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.MyOrder .order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.MyOrder .order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
@media (max-width: 700px) {
  .MyOrder {
    width: 100%;
  }
}