.order-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.order-item figure {
  margin: 0;
}
.order-item figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.order-item p:nth-child(2) {
  color: var(--very-light-pink);
}
.order-item p:nth-child(3) {
  font-size: var(--mb);
  font-weight: bold;
}