.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 12px;
}
@media (max-width: 700px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
}