.product-item {
  width: 240px;
}
.product-item .product-img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-item .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-item .product-info figure {
  margin: 0;
}
.product-item .product-info figure img {
  width: 36px;
}
.product-item .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--mb);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-item .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin: 0;
  color: var(--very-light-pink);
}
@media (max-width: 700px) {
  .product-item .product-card {
    width: 140px;
  }
  .product-item .product-img {
    width: 140px;
    height: 140px;
  }
}