.product-detail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.product-info {
  margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--mb);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info p:nth-child(2) {
  font-size: var(--mb);
  color: var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 36px;
}
.product-info p:nth-child(3) {
  font-size: var(--mb);
  color: var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 36px;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--mb);
  font-weight: bold;
  height: 48px;
}
.add-to-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
}